#App.dark {
    text-align: center;
    height: 100vh;
    background-color: #2D2D30;
    color: white;
    overflow: hidden;
}

#App-logo.dark {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

#App-header.dark {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

#App-title.dark {
    font-size: 1.5em;
}

#App-intro.dark {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    font-family: sans-serif;
    background-color: #2D2D30;
    color: white;
}


