body {
    padding: 0px;
    margin: 0px;
}

#title-bar.light {
    -webkit-app-region: drag;
    height: 32px;
    padding: 0px;
    margin: 0px;
    color: black;
    font-family: sans-serif;
    background-color: #e5e5e5;
    overflow: hidden;
}

#title.light {
    position: fixed;
    top: 0px;
    left: 12px;
    line-height: 32px;
    font-size: 14px;
}

#title-bar-btns.light {
    -webkit-app-region: no-drag;
    position: fixed;
    top: 1px;
    right: 0px;
}

#title-bar-btns.light button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    color: black;
    font-size: 16px;
}

#title-bar-btns.light button:hover {
    background-color: lightgray;
}

#content {
    padding: 12px;
    color: black;
}

a {
    color: #68217A;
}