#DnDSideMenu {
    width: 20%;
    min-width: 200px;
}

#DnDSideMenu.light {
    background-color: #e5e5e5;
}

#MainMenuItem.light {
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#MainMenuItem.light a {
    color: inherit;
    text-decoration: inherit;
}

#MainMenuItem.light:hover {
    background-color: #f0f0f0;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: gray;
}

#ChildMenuItem_light {
    background-color: white;
}

#ChildMenuItem_light:hover {
    background-color: #f8f8f8;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: lightgray;
}

#ChildMenuItem_light.hide {
    display: none;
}

#ChildMenuItem_light.show {
    display: flex;
    flex-direction: column;
}