#DnDSideMenu {
    width: 20%;
    min-width: 200px;
    overflow-x: hidden;
}

#MainMenuItem.dark {
    text-align: left;
    text-indent: 20px;
    vertical-align: middle;
    line-height: 48px;
}

#MainMenuItem.show {
    background-color: #303030;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: #222225;
}

#MainMenuItem.dark a {
    color: inherit;
    text-decoration: inherit;
}


#MainMenuItem.dark:hover {
    background-color: #303030;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: #222225;
}

#ChildMenuItem_dark {
    background-color: #28282c;
}

#ChildMenuItem_dark:hover {
    background-color: #212124;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: #1c1c1f;
}

#ChildMenuItem_dark.hide {
    display: none;
}

#ChildMenuItem_dark.show {
    display: flex;
    flex-direction: column;
}
