#DnDSideMenu {
    width: 20%;
    min-width: 200px;
    overflow: auto;
}

#MainMenuItem {
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#MainMenuItem:hover {
    background-color: #303030;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: #222225;
}

#ChildMenuItem {
    background-color: #28282c;
}

#ChildMenuItem:hover {
    background-color: #212124;
    border-left: 6px;
    border-left-style: solid;
    border-left-color: #1c1c1f;
}

#ChildMenuItem.hide {
    display: none;
}

#ChildMenuItem.show {
    display: inherit;
}
