.srd-parser,
.srd-parser-selection {
    font: 14px/1.4 Consolas, monospace;
}

.srd-parser-leaf {
    padding-left: 10px;
}

.srd-parser-line {
    display: block;
    position: relative;

    cursor: default;
}

.srd-parser-line:after {
    content: '';

    position: absolute;
    top: 0;
    left: -200px;
    right: -50px;
    bottom: 0;
    z-index: -1;

    pointer-events: none;
}

.srd-parser-line:hover:after {
    background: rgba(0, 0, 0, 0.06);
}

.srd-parser-leaf_composite > .srd-parser-line {
    cursor: pointer;
}

.srd-parser-radio,
.srd-parser-flatpath {
    display: none;
}

.srd-parser-value {
    margin-left: 5px;
}

.srd-parser-search {
    min-width: 300px;
    margin: 0 10px 10px 0;
    padding: 2px;
}

.srd-parser-key {
    color: #505050;
}

.srd-parser-value_helper,
.srd-parser-value_null,
.srd-parser-not-found {
    color: #b0b0b0;
}

.srd-parser-value_string {
    color: #798953;
}

.srd-parser-value_boolean {
    color: #75b5aa;
}

.srd-parser-value_number {
    color: #d28445;
}

.srd-parser-hl {
    background: #ff0;
    box-shadow: 0 -1px 0 2px #ff0;
    border-radius: 2px;
}

.srd-parser-show-original {
    display: inline-block;
    padding: 0 6px;

    color: #666;
    cursor: pointer;
}

.srd-parser-show-original:hover {
    color: #111;
}

.srd-parser-show-original:before {
    content: '⥂';
}

.srd-parser-show-original:hover:after {
    content: ' expand'
}
